<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>AmiMeds || </title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <title></title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">We provide the most comprehensive range of healthcare services in Amity University</h1>
    <p class="lead">AmiMeds is India's leading health test at hostel service offering a wide range of health tests across 25+ cities of India, and counting. It has a network of state-of-the-art fully automated laboratories and a large team of highly skilled phlebotomists who specialize in sample collection from hostel.
    </p>
    <br></div>
    <p class="lead"><p class="lead">AmiMeds has created tech enabled processes that ensure that the patients's entire journey from booking to report delivery is seamless and simplified. Through our proprietary technological developments like the tamper proof sample collection kits to pre-barcoded vials to Live temperature monitored sample transportation boxes (CoolSure), we make sure that the sample collection and testing process is quick, painless and of high quality. To ensure accuracy of reports, Healthians has deployed an advanced tech-enabled quality control process. Through a mix specialized training, remote supervision and modern age devices, AmiMeds has standardised the diagnostics process and makes sure that customers get accurate reports every time.
    </p>
    </p>
    <br><div>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div></br>
  {% include "hospital/footer.html" %}
</body>
<!--
developed By :  kumar
facebook : fb.com/.luv
youtube : youtube.com/AmiMedss
-->

</html>
